*{
    box-sizing: border-box;
    border: solid white 1px;
}
.header{
    height: 121px;
    width: 1335px;
}
.footer{
    background-color:#f4f4f4;
}
.section1{
    float: left;
    height: 122px;
    width: 730px;
}
.section2{
    float: left;
    height: 120px;
    width: 300px;
    line-height: 191px;
    text-align: right;
}
.section3{
    float: left;
    height: 120px;
    width: 300px;
    line-height: 191px;
    text-align: left;
    padding-left: 11px;
}
.img{
    float: left;
    height: 140px;
    width: 177px;
    margin:-18px;
}
.text{
    float: left;
    height: 122px;
    width: 212px;
}
input[type="submit"]{
    color: red;
    width: 150px;
    height:34px;
}
.text1{
    height: 66px;
}
.text2{
    height: 54px;
}
span.p2{
    color: red;   
}
p.p1{
    font-weight: bold;
    font-size: 27px;
    border-bottom: solid black 1px;
    color: black;
    height:35px;
    width:148px;
}
.a111{
    margin: 46px;
    width:116px;
    margin-bottom: -14px;
    margin-top: 11px;
}
.get_status{
    border: solid gray 1px;
    height: 152px;
    width:787px;
    margin-left: 255px;
    margin-top: 36px;
    margin-right: 364px;
    margin-bottom: 33px;
    background-color: white;
    padding-left: 49px;
    padding-right:20px;
    padding-top: -5px;
}
.time{
    font-style: italic;
    border: none;
}
.h2{
    margin-left: 253px;
    margin-top: 43px;
    margin-bottom: -47px;
    font-size:32px;
    color: gray;
    border: none;
}
.h1{
    font-size: 17px;
}
.pa122{
    font-size: 11px;
    margin-top:0px;
}
hr{
    border-bottom: dashed black 2px;
    margin-left:258px;
    margin-right: 287px;
    margin-top: 52px;
    margin-bottom: -27px;
}
.put_status{
   border: solid gray 1px;
    height: 170px;
    width:787px;
    margin-left: 255px;
    margin-top: 80px;
    margin-right: 364px;
    margin-bottom: 9px;
    background-color: white;
    padding-right: 124px;
}
#b21{
    margin-left: 665px;
    margin-top: 6px;
    color: white;
    background-color: red;
    font-weight: bold;
    width: 118px;
}
#text{
    padding-top: 1px;
    padding-bottom: 13px;
    padding-right: 12px;
    height:167px;
}
#status_form{
    width: 787px;
    height: 170px;
}

.button1{
    width: 131px;
    height: 33px;
    border: solid red 1px;
    background-color: white;
    color: red;
}
.button2{
    width: 131px;
    height: 32px;
    border: solid red 1px;
    background-color: red;
    color: white;
}
